body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
  }
  
  .nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }
  
  .nav-logo .logo-span {
    color: #2e2f42;
  }
  
  .nav-list__list-item .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  
  .nav-list__list-item .link:hover,
  .nav-list__list-item .link:focus {
    color: #404bbf;
  }
  
  .contact {
    font-style: normal;
  }
  
  .contact .link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  
  .contact .link:hover,
  .contact .link:focus {
    color: #404bbf;
  }
  
  .first-section {
    background-color: #2e2f42;
  }
  
  .first-section__title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
  }
  
  .first-section__btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #ffffff;
    background-color: #4D5AE5;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
  }
  
  .first-section__btn:hover,
  .first-section__btn:focus {
    background-color: #404BBF;
  }
  
  .second-section__list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
  }
  
  .second-section .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  
  .third-section {
    background-color: #f4f4fd;
  }
  
  .third-section__title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }
  
  .third-section__list .list-item{
    background-color: #ffffff;
  }
  
  .third-section__list .member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  
  .third-section__list .text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  
  .forth-section__title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
  }
  
  .list-item__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  
  .list-item .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  
  .footer {
    background-color: #2e2f42;
  }
  
  .footer .text {
    color: #F4F4FD;
    letter-spacing: 0.02em;
    line-height: 1.5;
  }
  
  .footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }
  
  .footer-logo .logo-span {
    color: #f4f4fd;
  }